*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#navheader {
    background: url(../images-folders/image5/Icons.svg) no-repeat center center /contain;
    background-color: #F3F8FF;
    font-family: 'Teko', sans-serif;
}