@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*utility class*/
a {
    text-decoration: none;
}
body {
    font-family: 'Teko', sans-serif;
}


/* Nav bar*/
#navheader {
    background: url(../images/Icons.svg) no-repeat center center /contain;
    background-color: #F3F8FF;
    font-family: 'Teko', sans-serif;
    position: sticky;
    top: 0;
    z-index: 4;
}
#navheader1{
    background: url(../images/Icons.svg) no-repeat center center /contain;
    background-color: #F3F8FF;
    font-family: 'Teko', sans-serif;
}
.course-center {
    text-align: center;
    color: #2E2B4E;
}
.btn {
    background: #454696;
}
.white {
    background: #FFFFFF;
    color: #444444;
    box-shadow:2px 2px #8D8D8D29;
    border-style: none;
}

.rounded-circle {
    border-style: solid;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    color: #DDDDDD;
}
/* nav bar end*/
/*article*/
.note{
    width: 105px;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    color: #FFB431;
}
.double-column{
    -webkit-column-count: 0; /* Chrome, Safari, Opera */
    -moz-column-count: 0; /* Firefox */
    column-count: 2;
}

li{
    margin-bottom: 2rem;
}

/*section part*/

#section {
    background: #403b77;
}
.section {
    color: #FFFFFF;
    letter-spacing:2px;
}
.space{
    gap: 2rem;
}
/*show-case*/
.marge {
    margin-left: 32rem;
} 
/*footer*/
.display {
    float: left;
}

#footer {
    background: #324252;
}
.footer-color {
    color: #FFFFFF;
}
.footer-note {
    width: 325px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: #FFFFFF;
}
.style-remove{
    list-style: none;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2
}
.decoration {
    text-decoration: underline;
}
.text-color {
    background: #283440;
    color: #ffffff;
}
.form-color-btn {
    background: #ffff;
}
.linked-backg {
    background: rgb(58, 98, 219);
}
.gap{
    gap: 5px;
    padding-left: 2rem;
}
#footer2 {
    background: #283440;
    color: #FFFFFF;
}
@media(max-width:767px){
    .note {
        margin-left: 9rem;
    }
    
   .centerized{
       padding-left: 5rem;
       margin-top: 1rem;
   } 
   .centerized1{
       padding-right: 7rem;
   }
   .double-column{
       margin-left: 3rem;
   }
   .double-column3{
       margin-left: 3rem;
   }
}

