/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Teko', sans-serif;
}
#header1{
    background-color: #F3F8FF;
    font-family: 'Teko', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1
}
#header{
    background-color: #F3F8FF;
    font-family: 'Teko', sans-serif;
}
.btn {
    background: #454696;
}

header .row{
    padding-top: 22vmin;
    padding-bottom: 35vmin;
}
header .container .col-md-3 button{
    border-radius: 30px;
    font-weight: bold;
    background-color: #454696;
    margin-top: 2rem;
}
header .container .col-md-2 h1{
    font-weight: bold;
    font-size: 35px;
    color: #324252;
    margin-bottom: .20rem;
}
header .container .col-md-2 p{
    font-weight: normal;
    font-size: 12px;
    color: #324252;
    font-display: inline-block;
    padding-top: .20rem;
}
header .line-1{
    background-color: #FFB431;
    height: .2rem;
    width: 4rem;
    margin: .5rem 0rem 1rem;
}
header .line-2{
    background-color: #FFB431;
    height: .2rem;
    width: 4rem;
    margin: .5rem 0rem 1rem;
}
.rounded-circle {
    border-style: solid;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    color: #DDDDDD;
}
.btn1{
    background: #ffffff;
    border-style: none;
    color: #B8B8B8;
}
.vertical-line {
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    height: 30px;
    margin-left: 8rem;
}
.font-textcolor {
    color: #B8B8B8;
    font-family: 'arimo','regular';
}
.font-size {
    font-size: 12.5px;
}
.position {
    position: relative;
    top: 2.5rem;
    width: 69rem;
    left: 1rem;
    height: 5rem;
    background: #FFFFFF;
    border-radius: 25px;
    border-style: none;
    box-shadow: 2px 2px 2px 2px #AEAEAE29;
}
.image{
    background: url(../images-folders/homepageimages/Image.svg)no-repeat center center /contain;
}
@media( max-width:765px){
    .image{
        background: url(../images-folders/homepageimages/Image.svg)no-repeat center center /contain;
        height: 40vh;
    }
    .position {
        margin-bottom: 4rem;
        position: relative;
        width: 24rem;
        height: 16rem;
        padding-top:1rem;
        
    }
    .vertical-line {
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        width:10px;
        float: right; padding-left:7rem;
        margin-right: 4rem;
    }
    
    .adjust {
        margin-left: 1rem;
    }
    .dd{
        display: flex;
        flex-direction: column;
    }
    .fuda-adj {
        margin-left: 5rem;
    }
    .padd {
        padding-bottom: 1rem;
    }
    .note-page2 {
        float: right; padding-left:5rem;
        margin-right:9rem;
    }
    .merggin {
        float: right; padding-left:10rem;
        margin-right: 7rem;
    }
    .sonn-foot {
        display: flex;
        flex-direction: column;
        padding: 2rem 0 2rem 0;
    }
   
}

/*article1-head*/

.article1-head{
    margin: 5rem 0px 3rem 0px;
    
}
.note{
    width: 105px;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    color: #FFB431;
    margin-left: 31rem;
}
.bold{
    font-size: 20px;
    font-weight: 600;
}
.white {
    background: #FFFFFF;
    color: #444444;
    box-shadow:2px 2px #8D8D8D29;
    border-style: none;
}
.df{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #DDDDDD;
}
.bolding{
    font-size: 15px;
    color: #999999;
    
}

/*article1-section1*/
.article1-section1{
    background: #454696;
}
.font-color{
    color: #ffffff;
}
.btn-font-color{
    color: #111111;
    background: #ffff;
}
/*article2-section*/

.color1-page2 {
    background:#625EA6;
    box-shadow: 2px 2px 2px 2px #625EA62B;
    border-style: none;
}
.color2-page2{
    background: #7ADBC3;
    box-shadow: 2px 2px 2px 2px #7ADBC32B;
    border-style: none;
}
.color3-page2{
    background: #31BCFF;
    box-shadow: 2px 2px 2px 2px #31BCFF2B;
    border-style: none;
}
.color4-page2{
    background: #F65B8B;
    box-shadow: 2px 2px 2px 2px #F65B8B2B;
    border-style: none;
}
.color5-page2{
    background: #F27676;
    box-shadow: 2px 2px 2px 2px #F276762B;
    border-style: none;
}
.color6-page2{
    background: #5ED6DE;
    box-shadow: 2px 2px 2px 2px #5ED6DE2B;
    border-style: none;
}
.color-text {
    color: #FFFFFF;
}

/*show-case section*/
/*the html are a transter
 from page3 and much of the css */

 /*feedback-section*/
 .feedback-section {
     background: #F5F5F5;
 }
 .moving-up{
    position: relative;
    top: -2rem;
    background:#FFFFFF ;
    
 }
 .line-width{
     border-style: solid;
     border-width: 0px;
     
 }

 /*footer*/
.display {
    float: left;
}
#footer {
    background: #324252;
}
.footer-color {
    color: #FFFFFF;
}
.footer-note {
    width: 300px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: #FFFFFF;
}
.footer-note1 {
    width: 200px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: #FFFFFF;
}
.decoration {
    text-decoration: underline;
}
.text-color {
    background: #283440;
    color: #ffffff;
}
.form-color-btn {
    background: #ffff;
}
.linked-backg {
    background: rgb(58, 98, 219);
}
.space1 {
    gap: 5px;
}
#footer2 {
    background: #283440;
}


 







