@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*utility*/
a {
    text-decoration: none;
}
body {
    font-family: 'Teko', sans-serif;
}

/*Nav bar*/

#navheader {
    background: url(../images-folders/image5/Icons.svg) no-repeat center center /contain;
    background-color: #F3F8FF;
    font-family: 'Teko', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;
}
#navheader1{
    background: url(../images-folders/image5/Icons.svg) no-repeat center center /contain;
    background-color: #F3F8FF;
    font-family: 'Teko', sans-serif;
}

.course-center {
    text-align: center;
    color: #2E2B4E;
}
.btn {
    background: #454696;
}
.white {
    background: #FFFFFF;
    color: #444444;
    box-shadow:2px 2px #8D8D8D29;
    border-style: none;
}

.rounded-circle {
    border-style: solid;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    color: #DDDDDD;
}

/*article*/
.sizing {
    font-size: 5rem;
}
.spacing {
    gap: 5px;
}
.color {
    color: #454696;
}
.note{
    width: 105px;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    color: #FFB431;
    margin-left: 31.5rem;
}
.padd{
    padding-left: 12rem;
}
.enrol-form{
    background: #f3f8ff;
    border-radius: 5px;
}


/*footer*/
.display {
    float: left;
}
#footer {
    background: #324252;
}
.footer-color {
    color: #FFFFFF;
}
.footer-note {
    width: 300px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: #FFFFFF;
}
.footer-note1 {
    width: 200px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: #FFFFFF;
}
.decoration {
    text-decoration: underline;
}
.text-color {
    background: #283440;
    color: #ffffff;
}
.form-color-btn {
    background: #ffff;
}
.linked-backg {
    background: rgb(58, 98, 219);
}
.space1 {
    gap: 5px;
}
#footer2 {
    background: #283440;
}



